[conexiones]
id_conexion_snowflake = con_snowflake_compute_wh_stocks

[rutas]
ruta_archivos_raw = /opt/airflow/dags/ETL_SP500_PD/data/raw
ruta_archivos_clean = /opt/airflow/dags/ETL_SP500_PD/data/clean

[consultas]
consulta_cat_stock_names = select * from stocks.public.cat_stock_names
consulta_cat_indexes = select * from stocks.public.cat_indexes
consulta_cat_dates = select * from stocks.public.cat_dates